In [448]:
import numpy as np
import pandas as pd
import sklearn.tree as tree
import sklearn.linear_model as linear_model
import sklearn.preprocessing as preprocessing
import sklearn.ensemble as ensemble
import matplotlib.pyplot as plt
import sklearn.model_selection as model_selection
import sklearn.svm as svm
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier 
import warnings
warnings.filterwarnings("ignore")

In [3]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [399]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# test.head()

In [8]:
drop_features = ['PassengerId', 'Survived']
train_drop = train.drop(drop_features, axis=1)
test_drop = test.drop(['PassengerId'], axis=1)

In [11]:
# train_drop
test_drop

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [412]:
train_len = train_drop.shape[0]
titanic = pd.concat([train_drop, test_drop], axis=0, sort=False)

In [400]:
titanic

,Sex,SibSp,Parch,Cabin,Family_Size,Name_Length,Pclass_1,Pclass_2,Pclass_3,Age_0,...,Fare_2,Fare_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,Embarked_C,Embarked_Q,Embarked_S
0,1,1,0,0,0.1,0.157143,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,0,1,0,1,0.1,0.557143,1,0,0,0,...,0,1,0,0,0,1,0,1,0,0
2,0,0,0,0,0.0,0.142857,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0,1,0.1,0.457143,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,1,0,0,0,0.0,0.171429,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1,0,0,0,0.0,0.085714,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
414,0,0,0,1,0.0,0.228571,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
415,1,0,0,0,0.0,0.228571,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
416,1,0,0,0,0.0,0.100000,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
417,1,1,1,0,0.2,0.171429,0,0,1,1,...,1,0,1,0,0,0,0,1,0,0

In [375]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 27 columns):
Sex             1309 non-null int64
SibSp           1309 non-null int64
Parch           1309 non-null int64
Cabin           1309 non-null int64
Name_Length     1309 non-null float64
Pclass_1        1309 non-null uint8
Pclass_2        1309 non-null uint8
Pclass_3        1309 non-null uint8
Age_0           1309 non-null uint8
Age_1           1309 non-null uint8
Age_2           1309 non-null uint8
Age_3           1309 non-null uint8
Age_4           1309 non-null uint8
Age_5           1309 non-null uint8
Fare_0          1309 non-null uint8
Fare_1          1309 non-null uint8
Fare_2          1309 non-null uint8
Fare_3          1309 non-null uint8
Title_Master    1309 non-null uint8
Title_Miss      1309 non-null uint8
Title_Mr        1309 non-null uint8
Title_Mrs       1309 non-null uint8
Title_Rare      1309 non-null uint8
Embarked_C      1309 non-null uint8
Embarked_Q      1309 non-null uint8
Embarked_S      1309 non-null uint8
Family_Size     1309 non-null float64
dtypes: float64(2), int64(4), uint8(21)
memory usage: 98.4 KB

In [413]:
titanic['Title'] = titanic.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())

In [162]:
titanic.Title.value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Rev               8
Dr                8
Col               4
Major             2
Mlle              2
Ms                2
Dona              1
Jonkheer          1
Capt              1
the Countess      1
Mme               1
Lady              1
Don               1
Sir               1
Name: Title, dtype: int64

In [414]:
rare_title = titanic.Title.value_counts().index[4:].tolist()
mapping={}
for s in rare_title:
    mapping[s]='Rare'
titanic['Title'] = titanic['Title'].map(lambda x: mapping[x] if x in mapping else x)

In [415]:
grouped = titanic.groupby(['Title'])
grouped.groups

{'Master': Int64Index([  7,  16,  50,  59,  63,  65,  78, 125, 159, 164, 165, 171, 176,
             182, 183, 193, 261, 278, 305, 340, 348, 386, 407, 445, 480, 489,
             549, 709, 751, 755, 787, 788, 802, 803, 819, 824, 827, 831, 850,
             869,  21,  55,  64,  80,  89, 154, 161, 192, 194, 196, 201, 244,
             281, 307, 339, 344, 360, 379, 389, 392, 417],
            dtype='int64'),
 'Miss': Int64Index([  2,  10,  11,  14,  22,  24,  28,  32,  38,  39,
             ...
             371, 375, 376, 385, 400, 402, 408, 409, 410, 412],
            dtype='int64', length=260),
 'Mr': Int64Index([  0,   4,   5,   6,  12,  13,  17,  20,  21,  23,
             ...
             399, 401, 403, 404, 405, 406, 407, 413, 415, 416],
            dtype='int64', length=757),
 'Mrs': Int64Index([  1,   3,   8,   9,  15,  18,  19,  25,  31,  40,
             ...
             364, 365, 368, 374, 382, 383, 391, 395, 397, 411],
            dtype='int64', length=197),
 'Rare': Int64Index([ 30, 149, 150, 245, 249, 317, 369, 398, 443, 449, 536, 556, 599,
             626, 632, 641, 647, 660, 694, 710, 745, 759, 766, 796, 822, 848,
             886,  88, 131, 149, 164, 202, 293, 414],
            dtype='int64')}

In [416]:
median = grouped.Age.median()
median

Title
Master     4.0
Miss      22.0
Mr        29.0
Mrs       35.5
Rare      44.5
Name: Age, dtype: float64

In [99]:
grouped.Age.mean()

Title
Master     5.482642
Miss      21.774238
Mr        32.252151
Mrs       36.994118
Rare      42.656250
Name: Age, dtype: float64

In [417]:
# set default age 
def set_default_age(cols):
    age = cols[0]
    title = cols[1]
    if pd.isnull(age):
        return median[title]
    return age

titanic.Age = titanic[['Age', 'Title']].apply(set_default_age, axis=1)

In [418]:
# Age 离散化
titanic.Age = pd.cut(titanic.Age, 5, labels=False)

In [419]:
titanic.Fare.fillna(titanic.Fare.median(), inplace=True)

In [420]:
# Fare 离散化 
titanic.Fare = pd.qcut(titanic.Fare, 4, labels=False)

In [421]:
# 添加 Family_Size
titanic['Family_Size'] = titanic['SibSp'] + titanic['Parch'] + 1
titanic['Name_Length'] = titanic['Name'].apply(lambda x: len(x))

In [422]:
# Cabin 映射
titanic['Cabin'] = titanic['Cabin'].apply(lambda x: 0 if pd.isna(x) else 1)

In [481]:
titanic.head()

,Sex,Cabin,Family_Size,Name_Length,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,...,Fare_2,Fare_3,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,Embarked_C,Embarked_Q,Embarked_S
0,1,0,0.1,0.157143,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,0,1,0.1,0.557143,1,0,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
2,0,0,0.0,0.142857,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0.1,0.457143,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
4,1,0,0.0,0.171429,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1

In [424]:
Pclass_dummy = pd.get_dummies(titanic.Pclass, prefix='Pclass')
Age_dummy = pd.get_dummies(titanic.Age, prefix='Age')
Fare_dummy = pd.get_dummies(titanic.Fare, prefix='Fare')
Title_dummy = pd.get_dummies(titanic.Title, prefix='Title')
Embarked_dummy = pd.get_dummies(titanic.Embarked, prefix='Embarked')

In [425]:
SibSp_dummy = pd.get_dummies(titanic.SibSp, prefix='SibSp')
Parch_dummy = pd.get_dummies(titanic.Parch, prefix='Parch')

In [426]:
titanic = pd.concat([titanic, Pclass_dummy, SibSp_dummy, Parch_dummy, Age_dummy, Fare_dummy, Title_dummy, Embarked_dummy], axis=1, sort=False)

In [427]:
# titanic.drop(['Name', 'Pclass', 'Age', 'Title', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1, inplace=True)
# titanic.drop(['Name', 'Pclass', 'Age', 'Title', 'Ticket', 'Fare', 'Embarked'], axis=1, inplace=True)
titanic.drop(['Name', 'Pclass', 'SibSp', 'Parch', 'Age', 'Title', 'Ticket', 'Fare', 'Embarked'], axis=1, inplace=True)

In [428]:
titanic.Sex = titanic.Sex.map({'male':1,'female':0})

In [429]:
# Name_Length 归一化 
minMax_scaler = preprocessing.MinMaxScaler()
titanic['Name_Length'] = minMax_scaler.fit_transform(np.array(titanic['Name_Length']).reshape(-1, 1))
titanic['Family_Size'] = minMax_scaler.fit_transform(np.array(titanic['Family_Size']).reshape(-1, 1))

In [431]:
x_train = titanic[:train_len]
y_train = train['Survived']
x_test = titanic[train_len:]

In [480]:
# SVM
# svc = svm.LinearSVC()
svc = svm.SVC(C=8)
model_selection.cross_val_score(svc, x_train, y_train, cv=5)

array([0.84357542, 0.82681564, 0.82022472, 0.78651685, 0.86440678])

In [ ]:
array([0.86592179, 0.82681564, 0.82022472, 0.79775281, 0.86440678])  # C=4 
array([0.8603352 , 0.82681564, 0.82022472, 0.80337079, 0.87570621])  # C=6.2
array([0.8603352 , 0.82681564, 0.82022472, 0.80337079, 0.8700565 ])  # C=6
array([0.84916201, 0.82681564, 0.82022472, 0.79775281, 0.85310734])
array([0.8547486 , 0.79888268, 0.79775281, 0.79213483, 0.85875706])
array([0.83240223, 0.81564246, 0.80337079, 0.78651685, 0.85310734])
array([0.83798883, 0.81005587, 0.81460674, 0.79213483, 0.86440678])

In [482]:
svc.fit(x_train, y_train)
predict_svc = svc.predict(x_test)
predict_svc

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
      dtype=int64)

In [472]:
# knn
knn = KNeighborsClassifier(n_neighbors = 10)
model_selection.cross_val_score(knn, x_train, y_train, cv=5)

array([0.79888268, 0.81005587, 0.8258427 , 0.78651685, 0.85310734])

In [ ]:


array([0.78212291, 0.81564246, 0.82022472, 0.8258427 , 0.84745763])  # 5

In [474]:
knn.fit(x_train, y_train)
predict_knn = knn.predict(x_test)
predict_knn

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [464]:
decision_tree = tree.DecisionTreeClassifier(min_samples_leaf=4)
model_selection.cross_val_score(decision_tree, x_train, y_train, cv=5)

array([0.77094972, 0.79888268, 0.83707865, 0.78089888, 0.77966102])

In [475]:
# LogisticRegression
lr = linear_model.LogisticRegression()
model_selection.cross_val_score(lr, x_train, y_train, cv=5)

array([0.83798883, 0.80446927, 0.79775281, 0.80337079, 0.86440678])

In [ ]:
array([0.84916201, 0.81005587, 0.80337079, 0.80898876, 0.85875706])
array([0.83798883, 0.81005587, 0.80337079, 0.79213483, 0.85310734])
array([0.83240223, 0.79888268, 0.79775281, 0.79213483, 0.83615819])

In [476]:
lr.fit(x_train, y_train)
predict_lr = lr.predict(x_test)
predict_lr

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
      dtype=int64)

In [494]:
# xgboost
gbm = XGBClassifier( n_estimators= 2000, max_depth= 4, min_child_weight= 2, gamma=0.9, subsample=0.8, 
                     colsample_bytree=0.8, objective= 'binary:logistic', nthread= -1, scale_pos_weight=1)
model_selection.cross_val_score(gbm, x_train, y_train, cv=5)

array([0.79329609, 0.82681564, 0.83146067, 0.82022472, 0.83050847])

In [ ]:
array([0.7877095 , 0.82681564, 0.8258427 , 0.8258427 , 0.81920904])

In [495]:
gbm.fit(x_train, y_train)
predict_gbm = gbm.predict(x_test)
predict_gbm

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1],
      dtype=int64)

In [ ]:
array([0.7877095 , 0.7877095 , 0.87078652, 0.81460674, 0.85310734])  # xgboost
array([0.83798883, 0.81005587, 0.81460674, 0.79213483, 0.86440678])  # svc 
array([0.83240223, 0.81005587, 0.80337079, 0.78651685, 0.84180791])  # 加上 Embarked 
array([0.83240223, 0.81005587, 0.80337079, 0.79213483, 0.83615819])

In [505]:
adaboost_clf = ensemble.AdaBoostClassifier(n_estimators=100, learning_rate=0.1)
model_selection.cross_val_score(adaboost_clf, x_train, y_train, cv=5)

array([0.83240223, 0.82122905, 0.81460674, 0.82022472, 0.83615819])

In [506]:
adaboost_clf.fit(x_train, y_train)
predict_ada = adaboost_clf.predict(x_test)
predict_ada

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
      dtype=int64)

In [520]:
# 模型融合
predict = 0.3*predict_svc + 0.11*predict_lr + 0.08*predict_knn + 0.11*predict_gbm + 0.4*predict_ada
predict

array([0.  , 0.7 , 0.  , 0.  , 0.81, 0.  , 0.81, 0.  , 1.  , 0.  , 0.  ,
       0.08, 1.  , 0.  , 1.  , 1.  , 0.  , 0.  , 0.81, 1.  , 0.08, 1.  ,
       1.  , 0.11, 1.  , 0.  , 1.  , 0.  , 0.  , 0.11, 0.  , 0.  , 0.89,
       1.  , 0.22, 0.11, 0.81, 0.81, 0.  , 0.11, 0.  , 0.19, 0.  , 1.  ,
       1.  , 0.  , 0.  , 0.  , 1.  , 1.  , 0.  , 0.  , 0.92, 1.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 1.  , 1.  , 1.  ,
       1.  , 0.  , 0.3 , 1.  , 1.  , 0.  , 0.81, 0.3 , 1.  , 0.22, 0.  ,
       1.  , 0.  , 1.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.81, 0.81,
       0.78, 1.  , 0.81, 0.  , 1.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.89,
       0.  , 1.  , 0.  , 0.  , 0.  , 0.92, 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 1.  , 1.  , 1.  , 1.  , 0.11, 0.  , 1.  , 0.22, 1.  , 1.  ,
       0.  , 1.  , 0.  , 0.  , 0.81, 0.  , 1.  , 0.  , 0.  , 0.  , 0.51,
       0.  , 0.  , 0.  , 0.  , 0.11, 0.  , 0.81, 0.  , 0.  , 1.  , 0.  ,
       0.  , 0.19, 0.  , 0.11, 0.  , 0.08, 0.  , 1.  , 0.  , 0.  , 1.  ,
       0.  , 0.  , 1.  , 1.  , 0.  , 0.92, 0.89, 1.  , 1.  , 0.  , 0.  ,
       0.81, 0.  , 0.  , 1.  , 0.81, 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       1.  , 0.08, 1.  , 1.  , 0.  , 0.19, 1.  , 0.  , 1.  , 0.  , 1.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 1.  , 0.  , 1.  , 0.89,
       0.  , 0.89, 1.  , 1.  , 0.7 , 1.  , 0.  , 0.  , 1.  , 0.  , 1.  ,
       0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 1.  , 0.  , 1.  , 0.  ,
       1.  , 0.  , 1.  , 0.  , 1.  , 1.  , 0.  , 1.  , 0.  , 0.  , 0.  ,
       1.  , 0.  , 0.  , 0.22, 0.  , 0.08, 0.  , 1.  , 1.  , 1.  , 1.  ,
       0.08, 0.  , 1.  , 0.  , 1.  , 0.  , 1.  , 1.  , 1.  , 0.  , 0.22,
       0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 1.  , 0.92,
       0.  , 0.  , 0.  , 0.  , 0.81, 0.  , 0.11, 0.  , 1.  , 0.92, 0.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 0.92, 1.  , 1.  , 1.  , 1.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.4 , 0.  , 0.  , 1.  ,
       0.11, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 1.  , 0.08, 1.  ,
       0.  , 0.81, 0.  , 0.  , 0.  , 0.81, 1.  , 1.  , 0.08, 0.  , 0.  ,
       0.  , 0.  , 0.11, 0.  , 0.  , 1.  , 0.  , 1.  , 0.11, 0.  , 0.  ,
       1.  , 0.22, 0.  , 1.  , 0.  , 0.08, 0.  , 0.  , 0.  , 0.92, 0.  ,
       0.  , 0.  , 1.  , 1.  , 0.89, 0.  , 0.92, 0.  , 1.  , 1.  , 0.  ,
       0.  , 0.  , 0.92, 0.  , 1.  , 0.  , 0.  , 0.89, 0.  , 1.  , 1.  ,
       0.  , 1.  , 0.11, 0.  , 0.92, 1.  , 0.  , 0.  , 1.  , 0.  , 0.  ,
       1.  , 1.  , 0.7 , 0.  , 0.  , 0.  , 0.  , 0.  , 0.89, 0.89, 0.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 0.11, 1.  , 0.92, 0.  , 0.  , 1.  ,
       0.  , 1.  , 0.  , 0.  , 1.  , 0.  , 1.  , 0.  , 0.19, 0.22, 0.  ,
       0.  , 1.  , 1.  , 1.  , 1.  , 0.81, 0.11, 1.  , 0.  , 0.  , 1.  ])

In [521]:
for i in range(len(predict)):
    if predict[i] >= 0.5:
        predict[i] = 1
    else:
        predict[i] = 0

predict = predict.astype(np.int64)
print(len(predict))
predict

418

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
      dtype=int64)

In [522]:
predict.dtype

dtype('int64')

In [224]:
# 模型融合
clf = linear_model.LogisticRegression(C=1.0, penalty='l2', tol=1e-6)
bagging_clf = ensemble.BaggingRegressor(clf, n_estimators=20, max_samples=0.9, max_features=0.88, bootstrap=True, bootstrap_features=False)
model_selection.cross_val_score(bagging_clf, x_train, y_train, cv=5)

array([0.29904308, 0.38049354, 0.28259208, 0.18958923, 0.46563147])

In [205]:
# help(model_selection.cross_val_score)
len(predict)

418

In [523]:
submission = pd.DataFrame({'PassengerId':test['PassengerId'], 'Survived':predict})
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [524]:
submission.to_csv('./submission_59.csv', index=False)

In [185]:
help(svm.LinearSVC)

Help on class LinearSVC in module sklearn.svm.classes:

class LinearSVC(sklearn.base.BaseEstimator, sklearn.linear_model.base.LinearClassifierMixin, sklearn.linear_model.base.SparseCoefMixin)
 |  LinearSVC(penalty='l2', loss='squared_hinge', dual=True, tol=0.0001, C=1.0, multi_class='ovr', fit_intercept=True, intercept_scaling=1, class_weight=None, verbose=0, random_state=None, max_iter=1000)
 |
 |  Linear Support Vector Classification.
 |
 |  Similar to SVC with parameter kernel='linear', but implemented in terms of
 |  liblinear rather than libsvm, so it has more flexibility in the choice of
 |  penalties and loss functions and should scale better to large numbers of
 |  samples.
 |
 |  This class supports both dense and sparse input and the multiclass support
 |  is handled according to a one-vs-the-rest scheme.
 |
 |  Read more in the :ref:`User Guide <svm_classification>`.
 |
 |  Parameters
 |  ----------
 |  penalty : string, 'l1' or 'l2' (default='l2')
 |      Specifies the norm used in the penalization. The 'l2'
 |      penalty is the standard used in SVC. The 'l1' leads to ``coef_``
 |      vectors that are sparse.
 |
 |  loss : string, 'hinge' or 'squared_hinge' (default='squared_hinge')
 |      Specifies the loss function. 'hinge' is the standard SVM loss
 |      (used e.g. by the SVC class) while 'squared_hinge' is the
 |      square of the hinge loss.
 |
 |  dual : bool, (default=True)
 |      Select the algorithm to either solve the dual or primal
 |      optimization problem. Prefer dual=False when n_samples > n_features.
 |
 |  tol : float, optional (default=1e-4)
 |      Tolerance for stopping criteria.
 |
 |  C : float, optional (default=1.0)
 |      Penalty parameter C of the error term.
 |
 |  multi_class : string, 'ovr' or 'crammer_singer' (default='ovr')
 |      Determines the multi-class strategy if `y` contains more than
 |      two classes.
 |      ``"ovr"`` trains n_classes one-vs-rest classifiers, while
 |      ``"crammer_singer"`` optimizes a joint objective over all classes.
 |      While `crammer_singer` is interesting from a theoretical perspective
 |      as it is consistent, it is seldom used in practice as it rarely leads
 |      to better accuracy and is more expensive to compute.
 |      If ``"crammer_singer"`` is chosen, the options loss, penalty and dual
 |      will be ignored.
 |
 |  fit_intercept : boolean, optional (default=True)
 |      Whether to calculate the intercept for this model. If set
 |      to false, no intercept will be used in calculations
 |      (i.e. data is expected to be already centered).
 |
 |  intercept_scaling : float, optional (default=1)
 |      When self.fit_intercept is True, instance vector x becomes
 |      ``[x, self.intercept_scaling]``,
 |      i.e. a "synthetic" feature with constant value equals to
 |      intercept_scaling is appended to the instance vector.
 |      The intercept becomes intercept_scaling * synthetic feature weight
 |      Note! the synthetic feature weight is subject to l1/l2 regularization
 |      as all other features.
 |      To lessen the effect of regularization on synthetic feature weight
 |      (and therefore on the intercept) intercept_scaling has to be increased.
 |
 |  class_weight : {dict, 'balanced'}, optional
 |      Set the parameter C of class i to ``class_weight[i]*C`` for
 |      SVC. If not given, all classes are supposed to have
 |      weight one.
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``
 |
 |  verbose : int, (default=0)
 |      Enable verbose output. Note that this setting takes advantage of a
 |      per-process runtime setting in liblinear that, if enabled, may not work
 |      properly in a multithreaded context.
 |
 |  random_state : int, RandomState instance or None, optional (default=None)
 |      The seed of the pseudo random number generator to use when shuffling
 |      the data for the dual coordinate descent (if ``dual=True``). When
 |      ``dual=False`` the underlying implementation of :class:`LinearSVC`
 |      is not random and ``random_state`` has no effect on the results. If
 |      int, random_state is the seed used by the random number generator; If
 |      RandomState instance, random_state is the random number generator; If
 |      None, the random number generator is the RandomState instance used by
 |      `np.random`.
 |
 |  max_iter : int, (default=1000)
 |      The maximum number of iterations to be run.
 |
 |  Attributes
 |  ----------
 |  coef_ : array, shape = [n_features] if n_classes == 2 else [n_classes, n_features]
 |      Weights assigned to the features (coefficients in the primal
 |      problem). This is only available in the case of a linear kernel.
 |
 |      ``coef_`` is a readonly property derived from ``raw_coef_`` that
 |      follows the internal memory layout of liblinear.
 |
 |  intercept_ : array, shape = [1] if n_classes == 2 else [n_classes]
 |      Constants in decision function.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.svm import LinearSVC
 |  >>> from sklearn.datasets import make_classification
 |  >>> X, y = make_classification(n_features=4, random_state=0)
 |  >>> clf = LinearSVC(random_state=0, tol=1e-5)
 |  >>> clf.fit(X, y)  # doctest: +NORMALIZE_WHITESPACE
 |  LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
 |       intercept_scaling=1, loss='squared_hinge', max_iter=1000,
 |       multi_class='ovr', penalty='l2', random_state=0, tol=1e-05, verbose=0)
 |  >>> print(clf.coef_)
 |  [[0.085... 0.394... 0.498... 0.375...]]
 |  >>> print(clf.intercept_)
 |  [0.284...]
 |  >>> print(clf.predict([[0, 0, 0, 0]]))
 |  [1]
 |
 |  Notes
 |  -----
 |  The underlying C implementation uses a random number generator to
 |  select features when fitting the model. It is thus not uncommon
 |  to have slightly different results for the same input data. If
 |  that happens, try with a smaller ``tol`` parameter.
 |
 |  The underlying implementation, liblinear, uses a sparse internal
 |  representation for the data that will incur a memory copy.
 |
 |  Predict output may not match that of standalone liblinear in certain
 |  cases. See :ref:`differences from liblinear <liblinear_differences>`
 |  in the narrative documentation.
 |
 |  References
 |  ----------
 |  `LIBLINEAR: A Library for Large Linear Classification
 |  <https://www.csie.ntu.edu.tw/~cjlin/liblinear/>`__
 |
 |  See also
 |  --------
 |  SVC
 |      Implementation of Support Vector Machine classifier using libsvm:
 |      the kernel can be non-linear but its SMO algorithm does not
 |      scale to large number of samples as LinearSVC does.
 |
 |      Furthermore SVC multi-class mode is implemented using one
 |      vs one scheme while LinearSVC uses one vs the rest. It is
 |      possible to implement one vs the rest with SVC by using the
 |      :class:`sklearn.multiclass.OneVsRestClassifier` wrapper.
 |
 |      Finally SVC can fit dense data without memory copy if the input
 |      is C-contiguous. Sparse data will still incur memory copy though.
 |
 |  sklearn.linear_model.SGDClassifier
 |      SGDClassifier can optimize the same cost function as LinearSVC
 |      by adjusting the penalty and loss parameters. In addition it requires
 |      less memory, allows incremental (online) learning, and implements
 |      various loss functions and regularization regimes.
 |
 |  Method resolution order:
 |      LinearSVC
 |      sklearn.base.BaseEstimator
 |      sklearn.linear_model.base.LinearClassifierMixin
 |      sklearn.base.ClassifierMixin
 |      sklearn.linear_model.base.SparseCoefMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, penalty='l2', loss='squared_hinge', dual=True, tol=0.0001, C=1.0, multi_class='ovr', fit_intercept=True, intercept_scaling=1, class_weight=None, verbose=0, random_state=None, max_iter=1000)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None)
 |      Fit the model according to the given training data.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape = [n_samples, n_features]
 |          Training vector, where n_samples in the number of samples and
 |          n_features is the number of features.
 |
 |      y : array-like, shape = [n_samples]
 |          Target vector relative to X
 |
 |      sample_weight : array-like, shape = [n_samples], optional
 |          Array of weights that are assigned to individual
 |          samples. If not provided,
 |          then each sample is given unit weight.
 |
 |      Returns
 |      -------
 |      self : object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.linear_model.base.LinearClassifierMixin:
 |
 |  decision_function(self, X)
 |      Predict confidence scores for samples.
 |
 |      The confidence score for a sample is the signed distance of that
 |      sample to the hyperplane.
 |
 |      Parameters
 |      ----------
 |      X : array_like or sparse matrix, shape (n_samples, n_features)
 |          Samples.
 |
 |      Returns
 |      -------
 |      array, shape=(n_samples,) if n_classes == 2 else (n_samples, n_classes)
 |          Confidence scores per (sample, class) combination. In the binary
 |          case, confidence score for self.classes_[1] where >0 means this
 |          class would be predicted.
 |
 |  predict(self, X)
 |      Predict class labels for samples in X.
 |
 |      Parameters
 |      ----------
 |      X : array_like or sparse matrix, shape (n_samples, n_features)
 |          Samples.
 |
 |      Returns
 |      -------
 |      C : array, shape [n_samples]
 |          Predicted class label per sample.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Returns the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape = (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like, shape = (n_samples) or (n_samples, n_outputs)
 |          True labels for X.
 |
 |      sample_weight : array-like, shape = [n_samples], optional
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of self.predict(X) wrt. y.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.linear_model.base.SparseCoefMixin:
 |
 |  densify(self)
 |      Convert coefficient matrix to dense array format.
 |
 |      Converts the ``coef_`` member (back) to a numpy.ndarray. This is the
 |      default format of ``coef_`` and is required for fitting, so calling
 |      this method is only required on models that have previously been
 |      sparsified; otherwise, it is a no-op.
 |
 |      Returns
 |      -------
 |      self : estimator
 |
 |  sparsify(self)
 |      Convert coefficient matrix to sparse format.
 |
 |      Converts the ``coef_`` member to a scipy.sparse matrix, which for
 |      L1-regularized models can be much more memory- and storage-efficient
 |      than the usual numpy.ndarray representation.
 |
 |      The ``intercept_`` member is not converted.
 |
 |      Notes
 |      -----
 |      For non-sparse models, i.e. when there are not many zeros in ``coef_``,
 |      this may actually *increase* memory usage, so use this method with
 |      care. A rule of thumb is that the number of zero elements, which can
 |      be computed with ``(coef_ == 0).sum()``, must be more than 50% for this
 |      to provide significant benefits.
 |
 |      After calling this method, further fitting with the partial_fit
 |      method (if any) will not work until you call densify.
 |
 |      Returns
 |      -------
 |      self : estimator

In [406]:
titanic.loc[titanic.SibSp == 6, 'SibSp']

Series([], Name: SibSp, dtype: int64)

In [447]:
help(pd.cut)

Help on function cut in module pandas.core.reshape.tile:

cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise')
    Bin values into discrete intervals.

    Use `cut` when you need to segment and sort data values into bins. This
    function is also useful for going from a continuous variable to a
    categorical variable. For example, `cut` could convert ages to groups of
    age ranges. Supports binning into an equal number of bins, or a
    pre-specified array of bins.

    Parameters
    ----------
    x : array-like
        The input array to be binned. Must be 1-dimensional.
    bins : int, sequence of scalars, or IntervalIndex
        The criteria to bin by.

        * int : Defines the number of equal-width bins in the range of `x`. The
          range of `x` is extended by .1% on each side to include the minimum
          and maximum values of `x`.
        * sequence of scalars : Defines the bin edges allowing for non-uniform
          width. No extension of the range of `x` is done.
        * IntervalIndex : Defines the exact bins to be used. Note that
          IntervalIndex for `bins` must be non-overlapping.

    right : bool, default True
        Indicates whether `bins` includes the rightmost edge or not. If
        ``right == True`` (the default), then the `bins` ``[1, 2, 3, 4]``
        indicate (1,2], (2,3], (3,4]. This argument is ignored when
        `bins` is an IntervalIndex.
    labels : array or bool, optional
        Specifies the labels for the returned bins. Must be the same length as
        the resulting bins. If False, returns only integer indicators of the
        bins. This affects the type of the output container (see below).
        This argument is ignored when `bins` is an IntervalIndex.
    retbins : bool, default False
        Whether to return the bins or not. Useful when bins is provided
        as a scalar.
    precision : int, default 3
        The precision at which to store and display the bins labels.
    include_lowest : bool, default False
        Whether the first interval should be left-inclusive or not.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.

        .. versionadded:: 0.23.0

    Returns
    -------
    out : Categorical, Series, or ndarray
        An array-like object representing the respective bin for each value
        of `x`. The type depends on the value of `labels`.

        * True (default) : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are Interval dtype.

        * sequence of scalars : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are whatever the type in the sequence is.

        * False : returns an ndarray of integers.

    bins : numpy.ndarray or IntervalIndex.
        The computed or specified bins. Only returned when `retbins=True`.
        For scalar or sequence `bins`, this is an ndarray with the computed
        bins. If set `duplicates=drop`, `bins` will drop non-unique bin. For
        an IntervalIndex `bins`, this is equal to `bins`.

    See Also
    --------
    qcut : Discretize variable into equal-sized buckets based on rank
        or based on sample quantiles.
    Categorical : Array type for storing data that come from a
        fixed set of values.
    Series : One-dimensional array with axis labels (including time series).
    IntervalIndex : Immutable Index implementing an ordered, sliceable set.

    Notes
    -----
    Any NA values will be NA in the result. Out of bounds values will be NA in
    the resulting Series or Categorical object.

    Examples
    --------
    Discretize into three equal-sized bins.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)
    ... # doctest: +ELLIPSIS
    [(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3, retbins=True)
    ... # doctest: +ELLIPSIS
    ([(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...
    array([0.994, 3.   , 5.   , 7.   ]))

    Discovers the same bins, but assign them specific labels. Notice that
    the returned Categorical's categories are `labels` and is ordered.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]),
    ...        3, labels=["bad", "medium", "good"])
    [bad, good, medium, medium, good, bad]
    Categories (3, object): [bad < medium < good]

    ``labels=False`` implies you just want the bins back.

    >>> pd.cut([0, 1, 1, 2], bins=4, labels=False)
    array([0, 1, 1, 3])

    Passing a Series as an input returns a Series with categorical dtype:

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, 3)
    ... # doctest: +ELLIPSIS
    a    (1.992, 4.667]
    b    (1.992, 4.667]
    c    (4.667, 7.333]
    d     (7.333, 10.0]
    e     (7.333, 10.0]
    dtype: category
    Categories (3, interval[float64]): [(1.992, 4.667] < (4.667, ...

    Passing a Series as an input returns a Series with mapping value.
    It is used to map numerically to intervals based on bins.

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, [0, 2, 4, 6, 8, 10], labels=False, retbins=True, right=False)
    ... # doctest: +ELLIPSIS
    (a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    4.0
     dtype: float64, array([0, 2, 4, 6, 8]))

    Use `drop` optional when bins is not unique

    >>> pd.cut(s, [0, 2, 4, 6, 10, 10], labels=False, retbins=True,
    ...        right=False, duplicates='drop')
    ... # doctest: +ELLIPSIS
    (a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    3.0
     dtype: float64, array([0, 2, 4, 6, 8]))

    Passing an IntervalIndex for `bins` results in those categories exactly.
    Notice that values not covered by the IntervalIndex are set to NaN. 0
    is to the left of the first bin (which is closed on the right), and 1.5
    falls between two bins.

    >>> bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 3), (4, 5)])
    >>> pd.cut([0, 0.5, 1.5, 2.5, 4.5], bins)
    [NaN, (0, 1], NaN, (2, 3], (4, 5]]
    Categories (3, interval[int64]): [(0, 1] < (2, 3] < (4, 5]]